<div class="container">
    <h1>Gráficos Dinámicos <small>Angular</small></h1>
    <hr>
    <h2>Gráfico de línea</h2>
    <hr>
    <app-linea></app-linea>
    <hr>
    <h2>Gráfico de barra</h2>
    <hr>
    <app-barra></app-barra>
    <hr>
    <h2>Gráfico de donut</h2>
    <hr>
    <app-donut></app-donut>
    <hr>
    <h2>Gráfico de radar</h2>
    <hr>
    <app-radar></app-radar>
    <hr>
    <h2>Gráfico de tarta</h2>
    <hr>
    <app-pie></app-pie>
    <hr>
    <h2>Gráfico de área</h2>
    <hr>
    <app-polar-area></app-polar-area>
    <hr>
    <h2>Gráficos dinámicos</h2>
    <hr>
    <app-dynamic></app-dynamic>
    <hr>
</div>